# Ignore build files
/build/
/obj/

# Ignore compiled binary (e.g., `a.out` or `a.exe`)
*.exe
*.out

# Ignore system files created by editors (e.g., Visual Studio, etc.)
.vscode/
.idea/

# Ignore temporary files from compilers
*.o
*.a
*.so

# Ignore log files
*.log

# Ignore IDE settings (e.g., for Visual Studio)
.vs/
../.vs/
../.vscode/
# Ignore application data (e.g., applications.txt)
applications.txt
